# Logs
logs

# Env
.env

# Ranking data
rank_data/
rank_data_proceeded/
data/db

# Dependency directories
node_modules/

# TS generated
dist/

# Mac OS generated
.DS_Store
.DS_Store?

# vscode configs
.vscode/launch.json
