# Logs
logs

# Secrets
secrets.json

# Ranking data
rank_data/
rank_data_proceeded/
data/db

# Dependency directories
node_modules/

# Mac OS generated
.DS_Store
.DS_Store?

# vscode configs
.vscode/launch.json